.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 300px;
    padding: 60px;
    gap: 5px;
    
    border-style: solid;
}

.digit, .operator, #equals{
    height: 60px;
    flex: 1 0 70px;
    margin: 0;
}


#clear, #delete {
    height: 60px;
    flex: 1 0 140px;
}

.display{
    word-wrap: break-word;
    height: 80px;
    width: 100px;
    flex: 0 0 100%;
    border-style: solid;
}